<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Second</title>
</head>
<body>
    <h2 style="color: yellow";>Second!</h2>
    <br>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto cum fugit ipsa libero
        nesciunt perferendis rerum sequi. Deleniti ex, facilis, labore laborum minima nulla odit quibusdam
        quisquam similique sint, tenetur.
    <br>
        Go to <b><a href="{% url 'links:first' %}" >First page</a></b>!
    <br>
        Go to <b><a href="{% url 'links:third' 'abcd' %}" >Third page</a></b>!
</body>
</html>